%h1 Books

%p Filter: My Projects
= link_to 'New Book', new_book_path, class: "new-book-btn"

%table.books
  %thead
    %tr
      %th Title
      %th ISBN
      %th SKU
      %th Publication Year
      %th
      %th
      %th

  %tbody
    - @books.each do |book|
      %tr
        %td= book.title
        %td= book.isbn
        %td= book.sku
        %td= book.pub_year
        %td= link_to 'Show', book
        %td= link_to 'Edit', edit_book_path(book)

%br


