%p#notice= notice

%p
  %b Title:
  = @book.title
%p
  %b Isbn:
  = @book.isbn
%p
  %b Sku:
  = @book.sku
%p
  %b Pub year:
  = @book.pub_year

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
