= form_for @user.preferences do |f|
  - if @user.preferences.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.preferences.errors.count, "error")} prohibited this preference from being saved:"
      %ul
        - @user.preferences.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :theme
    = f.options_for_select([['Default', 1], ['Shakespeare', 2], ['Quoth the Raven', 3]], 3)
 
  .field
    = f.label :time_zone
    = f.time_zone_select(:preference, :time_zone, nil, include_blank: true)

  .actions
    = f.submit 'Save'
